body
{
	background-color:#9BDFD6;
}

#phaser
{
	max-width:900px;
}

.rek-menu
{
	
}

.rek-content, .rek-menu
{
	margin-top:30px;
}

.rek-menu-element>a
{
	background-color:#0097A2;
	color:#00E7F7;
}